<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-action">
    <div>
        <h1>Khoá học của tôi</h1>
        <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>

        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-2 custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkbox-all">
                    <label class="custom-control-label" for="checkbox-all">Chọn tất cả</label>
                </div>

                <div class="col-lg-3 input-group mb-3">
                    <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
                        <option value="">--Hành động--</option>
                        <option value="delete">Xoá</option>
                    </select>
                </div>

                <div class="col-lg-2">
                    <button class="btn btn-sm btn-primary check-all-submit-btn" disabled>Thực hiện</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">
                    Tên khoá học
                    {{{sortable 'name' _sort}}}
                </th>
                <th scope="col">
                    Trình độ
                    {{{sortable 'level' _sort}}}
                </th>

                <th scope="col">
                    Thời gian tạo
                    {{{sortable 'createdAt' _sort}}}
                </th>
                <th scope="col">Hoạt động</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="" name="courseIds[]" value="{{this._id}}">

                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>

                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#delete-course-modal">Xoá</a>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng khoá học nào?
                    <a href="/courses/create">Đăng khoá học</a>
                </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Comfirm delete --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá khoá học?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn xoắ khoá học này ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button id="btn-delete-course" type="button" class="btn btn-primary">Xoá bỏ</button>
            </div>
        </div>
    </div>
</div>

{{!-- DELETE HIDDEN FORM --}}
<form method="POST" name="delete-course-form"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        //var containerForm = document.forms['container-form'];
        var containerForm = $('form[name="container-form"]')
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var checkboxAll = $('#checkbox-all');
        var couseItemsCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn')

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });


        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        }

        //course items checkbox: 
        couseItemsCheckbox.change(function () {
            var isCheckedAll = couseItemsCheckbox.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();

        })


        //checkbox on click
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked')
            couseItemsCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        })

        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length;
            if(checkedCount > 0) {
                checkAllSubmitBtn.attr('disabled', false);
            } else {
                checkAllSubmitBtn.attr('disabled', true);
            }
            console.log(checkedCount);
        };

        //listen event submit on container form 
        //        containerForm.on('submit', function (e) {
        //          var isSubmitable = !checkAllSubmitBtn.hasClass('disabled');
        //           if (!isSubmitable) {
        //               e.preventDefault();
        //           }
        //      })





    });
</script>